.header{
    width:1280px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 5px;
    
}
.headerName{
    padding:5px;
    margin-left: 30px;
    
   
}
.menu a{
    margin-left: 15px;
    text-decoration: none;

}
.menu{
    margin-right :100px;
}
