.blogs-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.blog-container{
    gap:100px;
}
.sideCart-container{
    background-color: aquamarine;
    height: 700px;
    padding: 20px;
    position: sticky;
    top:0;

}
.description{
    padding-top: 25px;
    padding-left: 15px;
}
@media   screen and (max-width:576px) {
    .blog-container{
        display: grid;
        grid-template-columns:repeat(1,1fr);  
        
    }
    .sideCart-container{
        position:absolute;
        top:330%;
        left: 50px;

    }
    
}